body {
  margin: 0px;
  padding: 0px;
}

header {
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 0px #787878;
}

main {
  text-align: center;
  width: 100%;
}

.main-wrapper {
  background-color: #787878;
  width: 80%;
  text-align: left;
  display: inline-block;
}
