body {
  font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ',
    Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', 'MS Gothic', 'ＭＳ ゴシック',
    'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  margin: 0px;
  padding: 0px;
}

header {
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 0px #787878;
}

main {
  text-align: center;
  width: 100%;
}

#output {
  position: relative;
  top: -60px;
  height: 425px;
}

.main-wrapper {
  background-color: #787878;
  width: 80%;
  text-align: left;
  display: inline-block;
}

.answer-wrapper {
  padding: 20px;
  button {
    margin: 2px;
    color: rgb(106, 106, 106);
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    width: 80px;
    height: 150px;
    background-color: white;
    border: 0px;
    box-shadow:
      5px 5px 0px #d1d1d1,
      10px 10px 0px #d1d1d1,
      3px 3px 8px #787878;
    transition:
      transform 0.05s ease-in-out,
      box-shadow 0.01s ease-in-out;
    &:hover {
      color: rgb(132, 132, 132);
      background-color: rgb(245, 245, 245);
      transform: translate(5px, 5px);
      box-shadow:
        2px 2px 0px #d1d1d188,
        5px 5px 0px #d1d1d188,
        0px 0px 2px #a6a6a688;
      border: solid 1px rgb(179, 179, 179);
    }
  }
}

#judge {
  visibility: hidden;
  margin-top: 15px;

  #incorrect-wrapper {
    display: inline-block;
  }

  span {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    transform: translateY(7px);
  }
  svg {
    stroke-width: 10;
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }

  #judge-result {
    margin-right: 15px;
    color: #7d7d7d;
  }

  .correct-color {
    color: #24c1ff;
    stroke: #24c1ff;
  }

  .incorrect-color {
    color: #ff6666;
    stroke: #ff6666;
  }

  .arrow {
    margin: 5px;
    stroke: #c5c5c5;
  }
}
